<!-- Contenedor principal de la aplicación -->
<div class="main-wrapper">
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    <span>
      © 2025 FilmNest | Desarrollado por<a href="https://github.com/xRev4n" target="_blank" rel="noopener noreferrer">xRev4n</a>
    </span>
    <a href="https://github.com/xRev4n/FilmNest" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-github"></i>
      Ver repositorio en GitHub
    </a>
  </footer>
</div>