<!-- Contenedor principal de la aplicación -->
<div class="main-wrapper">
  <main class="main-content">
    <mat-button-toggle-group [value]="isDarkMode ? 'dark' : 'light'" (change)="toggleDarkMode()"
      [hideSingleSelectionIndicator]="true" style="position: absolute; top: 1rem; right: 1rem; z-index: 1000;">
      <mat-button-toggle value="light">
        <mat-icon>light_mode</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="dark">
        <mat-icon>dark_mode</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    <span>
      © 2025 FilmNest | Desarrollado por<a href="https://github.com/xRev4n" target="_blank" rel="noopener noreferrer">xRev4n</a>
    </span>
    <a href="https://github.com/xRev4n/FilmNest" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-github"></i>
      Ver repositorio en GitHub
    </a>
  </footer>
</div>